* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.App {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  max-width: 1120px;
  border-radius: 5px;
  margin: 50px auto;
  gap: 10px;
}
